---
import experiences from '../../public/experiences.json';
---
<section id="experience" class="flex flex-col items-center pt-12 pb-12 scroll-mt-24">
    <div class="sticky flex z-50 bg-background/75 backdrop-blur justify-center top-0 lg:hidden w-screen">
        <h2 class="my-5 text-white text-2xl">Experience</h2>
    </div>
    <ul>
        {experiences.data.map((experience, index) => {
                return (
                    <li class={`p-3 rounded-2xl hover:bg-light-blue group ${index > 0 ? "mt-5" : ""}`}>
                        <a href={experience.locationLink} target="_blank">
                            <div class="flex">
                                <div class="w-3/4">
                                    <h3 class="text-white font-bold">{experience.title}</h3>
                                    <h4 class={`opacity-80 group-hover:opacity-100 text-${experience.locationColor}`}>{experience.location}</h4>
                                    <p class="text-white text-sm opacity-80 group-hover:opacity-100">{experience.description}</p>
                                </div>
                                <div class="w-1/4 text-right">
                                    <p class="text-white text-sm opacity-80 group-hover:opacity-100">{(experience.startYear === experience.endYear) ? experience.startMonth : experience.startYear} — { (experience.startYear === experience.endYear && experience.endMonth)} {experience.endYear}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                )
            })}
    </ul>
</section>